.primary-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--text-color-white);
    background-color: var(--primary-brand-color-iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    transition: background-color var(--transition-250-cubic);

    &:hover,
    &:focus {
        background-color: var(--pressed-state-color-ocean);
    }
}